<h1 class="tx_egovapi_header"><f:translate key="header_servicess">Services</f:translate></h1>

<ul class="tx_egovapi_services">
	<f:for each="{services}" as="service">
		<li>
			<f:link.action action="service" arguments="{topic: service.topic.id, service: service.id, mode: 'single'}" pageUid="{targets.service.singlePid}">{service.name}</f:link.action> [{service.id}]
		</li>
	</f:for>
</ul>

<f:if condition="{hasParent}">
	<p>
		<f:link.action action="topic" arguments="{domain: topic.domain.id, mode: 'list'}" pageUid="{targets.topic.listPid}"><f:translate key="action_back_to_list">Back to list</f:translate></f:link.action>
	</p>
</f:if>
