<h1 class="tx_egovapi_audience">{audience.name}</h1>

<h2><f:translate key="header_views">Views</f:translate></h2>

<ul class="tx_egovapi_views">
	<f:for each="{audience.views}" as="view">
		<li>{view.id}:
			<f:link.action action="domain" arguments="{view: view.id}" pageUid="{targets.domain.listPid}">{view.name}</f:link.action>
			(<f:link.action action="view" arguments="{view: view.id, mode: 'single'}" pageUid="{targets.view.singlePid}">details</f:link.action>)
		</li>
	</f:for>
</ul>

<p>
	<f:link.action action="audience" arguments="{mode: 'list'}" pageUid="{targets.audience.listPid}"><f:translate key="action_back_to_list">Back to list</f:translate></f:link.action>
</p>