<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Template for the RDF generator form</title>
</head>
<body>

<!-- ###TEMPLATE_STEP1### [begin] -->

<form id="tx_egovapi_generatorForm_1" action="">
	<input type="hidden" name="tx_egovapi_pi3[step]" value="2" />
	<div id="tx_egovapi_selectorForm_language">
		<label for="tx_egovapi_language">###LABEL_LANGUAGE###</label>
		<select id="tx_egovapi_language" name="tx_egovapi_pi3[language]">
			<option value="de">Deutsch</option>
			<option value="en">English</option>
			<option value="fr">Français</option>
			<option value="it">Italiano</option>
			<option value="rm">Rumantsch</option>
		</select>
	</div>
	<div id="tx_egovapi_generatorForm_community">
		<label for="tx_egovapi_community">###LABEL_COMMUNITY###</label>
		<!-- ###COMMUNITIES### [begin] -->
		<select id="tx_egovapi_community" name="tx_egovapi_pi3[community]">
			<optgroup label="Fribourg">
				<option value="10-00">Canton Fribourg</option>
				<option value="10-01">District de la Broye</option>
			</optgroup>
		</select>
		<!-- ###COMMUNITIES### [end] -->
	</div>
	<div id="tx_egovapi_generatorForm_organization">
		<label for="tx_egovapi_organization">###LABEL_ORGANIZATION###</label>
		<select id="tx_egovapi_organization" name="tx_egovapi_pi3[organization]">
			<option value=""></option>
			<option value="02004">Bussy (FR) - 02004</option>
			<option value="02005">Châbles - 02005</option>
			<option value="02008">Châtillon (FR) - 02008</option>
			<option value="02008">Cheiry - 02008</option>
		</select>
		<span id="tx_egovapi_generatorForm_organization_loader">
			###AJAX_LOADER_SMALL###
		</span>
	</div>
	<div id="tx_egovapi_generatorForm_website">
		<label for="tx_egovapi_website">###LABEL_WEBSITE###</label>
		<input type="text" id="tx_egovapi_website" name="tx_egovapi_pi3[website]" size="50" maxlength="50" value="###WEBSITE###" />
	</div>
	<input type="hidden" id="tx_egovapi_ajaxUrl" value="###AJAX_URL###" />
	<input type="hidden" id="tx_egovapi_defaultLanguage" value="###LANGUAGE###" />
	<input type="hidden" id="tx_egovapi_defaultOrganization" value="###ORGANIZATION###" />
	<input type="submit" id="tx_egovapi_generatorForm_next" value="###LABEL_NEXT###" disabled="disabled" />
</form>

<!-- ###TEMPLATE_STEP1### [end] -->

<!-- ###TEMPLATE_STEP2### [begin] -->

<form id="tx_egovapi_generatorForm_2" action="">
	<input type="hidden" name="tx_egovapi_pi3[step]" value="3" />
	<table>
		<thead>
			<tr>
				<th>###LABEL_SERVICE###</th>
				<th>###LABEL_URL###</th>
			</tr>
		</thead>
		<tbody>
			<!-- ###TEMPLATE_PROVIDER### [begin] -->
			<tr class="tx_egovapi_generatorForm_provider">
				<td colspan="2">###PROVIDER###</td>
			</tr>
			<!-- ###TEMPLATE_PROVIDER### [end] -->
			<!-- ###TEMPLATE_SERVICE### [begin] -->
			<tr class="tx_egovapi_generatorForm_service ###CYCLE###">
				<td class="tx_egovapi_generatorForm_serviceName">
					<input type="hidden" name="tx_egovapi_pi3[service][###COUNTER###]" value="###SERVICE_ID###" />
					###SERVICE###
				</td>
				<td valign="top">
					<input type="text" size="40" name="tx_egovapi_pi3[url][###COUNTER###]" value="###URL###" class="tx_egovapi_generatorForm_url" />
				</td>
			</tr>
			<!-- ###TEMPLATE_SERVICE### [end] -->
		</tbody>
	</table>
	<div>
		<input type="submit" value="###LABEL_GENERATE###" />
	</div>
</form>

<!-- ###TEMPLATE_STEP2### [end] -->

<!-- ###TEMPLATE_STEP3### [begin] -->

<div id="tx_egovapi_generatorForm_3">

	<p>Please save following RDF content to a file <tt>services.n3</tt> and upload it to your website.</p>
	<pre>###RDF_CONTENT###</pre>

	<p>Then edit your homepage and add following line within the HEAD part:</p>
	<pre>&lt;link id="published_services" rel="alternate" type="text/n3" href="/services.n3" /&gt;</pre>

</div>

<!-- ###TEMPLATE_STEP3### [end] -->



</body>
</html>