<f:if condition="{showLevelInformation}">
	<h1 class="tx_egovapi_domain">{domain.name}</h1>
</f:if>

<f:if condition="{showGeneralInformation}">
	<!-- General information -->
	<h2 class="tx_egovapi_block_generalInformation"><f:translate key="block_general_information">General information</f:translate></h2>
	<f:format.html>{domain.generalInformation}</f:format.html>
</f:if>

<f:if condition="{showNews}">
	<!-- News -->
	<h2 class="tx_egovapi_block_news"><f:translate key="block_news">News</f:translate></h2>
	<f:format.html>{domain.news}</f:format.html>
</f:if>

<f:if condition="{showSubdomains}">
	<!-- Subdomains -->
	<h2 class="tx_egovapi_block_subdomains"><f:translate key="block_subdomains">Subdomains</f:translate></h2>
	<ul>
		<f:for each="{domain.subdomains.items}" as="item">
			<li>{item}</li>
		</f:for>
	</ul>
</f:if>

<f:if condition="{showDescriptor}">
	<!-- Descriptor -->
	<h2 class="tx_egovapi_block_descriptors"><f:translate key="block_descriptors">Descriptors</f:translate></h2>
	<p>{domain.descriptor}</p>
</f:if>

<f:if condition="{showSynonym}">
	<!-- Synonym -->
	<h2 class="tx_egovapi_block_synonyms"><f:translate key="block_synonyms">Synonyms</f:translate></h2>
	<p>{domain.synonym}</p>
</f:if>

<ul class="tx_egovapi_topics">
	<f:for each="{domain.topics}" as="topic">
		<li>
			<f:link.action action="service" arguments="{topic: topic.id}" pageUid="{targets.service.listPid}">{topic.name}</f:link.action>
			(<f:link.action action="topic" arguments="{topic: topic.id, mode: 'single'}" pageUid="{targets.topic.singlePid}">details</f:link.action>)
		</li>
	</f:for>
</ul>

<f:if condition="{hasParent}">
	<p>
		<f:link.action action="domain" arguments="{view: domain.view.id, mode: 'list'}" pageUid="{targets.domain.listPid}"><f:translate key="action_back_to_list">Back to list</f:translate></f:link.action>
	</p>
</f:if>