<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Standard eGov API Template</title>
</head>
<body>

<!-- ###AUDIENCE_LIST### [begin] -->

<h1>###HEADER_AUDIENCES###</h1>

<!-- ###AUDIENCES### [begin] -->

<ul class="tx_egovapi_audiences">
	<!-- ###AUDIENCE### [begin] -->
	<li>
		<!-- ###AUDIENCE_LINK_VIEWS### -->###AUDIENCE_NAME###<!-- ###AUDIENCE_LINK_VIEWS### -->
		(<!-- ###AUDIENCE_LINK_DETAIL### -->details<!-- ###AUDIENCE_LINK_DETAIL### -->)
	</li>
	<!-- ###AUDIENCE### [end] -->
</ul>

<!-- ###AUDIENCES### [end] -->

<!-- ###AUDIENCE_LIST### [end] -->










<!-- ###AUDIENCE_SINGLE### [begin] -->

<h1 class="tx_egovapi_audience">###AUDIENCE_NAME###</h1>

<!-- ###AUDIENCE_SINGLE### [end] -->

</body>
</html>