<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Standard eGov API Template</title>
</head>
<body>

<!-- ###DOMAIN_LIST### [begin] -->

<h1 class="tx_egovapi_header">###HEADER_DOMAINS###</h1>

<!-- ###DOMAINS### [begin] -->

<ul class="tx_egovapi_domains">
	<!-- ###DOMAIN### [begin] -->
	<li>
		<!-- ###DOMAIN_LINK_TOPICS### -->###DOMAIN_NAME###<!-- ###DOMAIN_LINK_TOPICS### -->
		(<!-- ###DOMAIN_LINK_DETAIL### -->details<!-- ###DOMAIN_LINK_DETAIL### -->)
	</li>
	<!-- ###DOMAIN### [end] -->
</ul>

<!-- ###DOMAINS### [end] -->

<!-- ###HAS_PARENT### [begin] -->
<p class="tx_egovapi_backToList">
	<!-- ###DOMAIN_LINK_VIEWS### -->###ACTION_BACK_TO_LIST###<!-- ###DOMAIN_LINK_VIEWS### -->
</p>
<!-- ###HAS_PARENT### [end] -->

<!-- ###DOMAIN_LIST### [end] -->










<!-- ###DOMAIN_SINGLE### [begin] -->

<h1 class="tx_egovapi_domain">###DOMAIN_NAME###</h1>

<!-- ###SHOW_GENERAL_INFORMATION### [begin] -->
<h2 class="tx_egovapi_block_generalInformation">###BLOCK_GENERAL_INFORMATION###</h2>
<div class="tx_egovapi_block_generalInformation">
	###DOMAIN_GENERAL_INFORMATION###
</div>
<!-- ###SHOW_GENERAL_INFORMATION### [end] -->

<!-- ###SHOW_GENERAL_NEWS### [begin] -->
<h2 class="tx_egovapi_block_news">###BLOCK_NEWS###</h2>
<div class="tx_egovapi_block_news">
	###DOMAIN_NEWS###
</div>
<!-- ###SHOW_GENERAL_NEWS### [end] -->

<!-- ###SHOW_GENERAL_SUBDOMAINS### [begin] -->
<h2 class="tx_egovapi_block_subdomains">###BLOCK_SUBDOMAINS###</h2>
<div class="tx_egovapi_block_subdomains">
	###DOMAIN_SUBDOMAINS###
</div>
<!-- ###SHOW_GENERAL_SUBDOMAINS### [end] -->

<!-- ###SHOW_GENERAL_DESCRIPTOR### [begin] -->
<h2 class="tx_egovapi_block_descriptors">###BLOCK_DESCRIPTORS###</h2>
<div class="tx_egovapi_block_descriptors">
	###DOMAIN_DESCRIPTOR###
</div>
<!-- ###SHOW_GENERAL_DESCRIPTOR### [end] -->

<!-- ###SHOW_GENERAL_SYNONYM### [begin] -->
<h2 class="tx_egovapi_block_synonyms">###BLOCK_SYNONYMS###</h2>
<div class="tx_egovapi_block_synonyms">
	###DOMAIN_SYNONYM###
</div>
<!-- ###SHOW_GENERAL_SYNONYM### [end] -->

<!-- ###DOMAIN_SINGLE### [end] -->

</body>
</html>