$<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Standard eGov API Template</title>
</head>
<body>

<!-- ###SERVICE_LIST### [begin] -->

<h1 class="tx_egovapi_header">###HEADER_SERVICES###</h1>

<!-- ###SERVICES### [begin] -->

<ul class="tx_egovapi_services">
	<!-- ###SERVICE### [begin] -->
	<li>
		<span class="tx_egovapi_serviceName"><!-- ###SERVICE_LINK_DETAIL### -->###SERVICE_NAME###<!-- ###SERVICE_LINK_DETAIL### --></span>
		<span class="tx_egovapi_serviceId">[###SERVICE_ID###]</span> <!-- ###SERVICE_VERSION_ID### -->
	</li>
	<!-- ###SERVICE### [end] -->
</ul>

<!-- ###SERVICES### [end] -->

<!-- ###HAS_PARENT### [begin] -->
<p class="tx_egovapi_backToList">
	<!-- ###SERVICE_LINK_TOPICS### -->###ACTION_BACK_TO_LIST###<!-- ###SERVICE_LINK_TOPICS### -->
</p>
<!-- ###HAS_PARENT### [end] -->

<!-- ###SERVICE_LIST### [end] -->










<!-- ###SERVICE_SINGLE### [begin] -->

<!-- ###SHOW_LEVEL_INFORMATION### [begin] -->
<h1 class="tx_egovapi_service"><span class="block_number">1.</span> ###SERVICE_NAME### <span class="service_id">(###SERVICE_ID###)</span></h1>

<table class="tx_egovapi_block_header">
	<tr class="tx_egovapi_serviceId">
		<th>###COMMON_SERVICE_ID###</th>
		<td>###SERVICE_ID###</td>
	</tr>
	<tr class="tx_egovapi_serviceVersionId">
		<th>###COMMON_VERSION_ID###</th>
		<td>###SERVICE_VERSION_ID###</td>
	</tr>
	<tr class="tx_egovapi_serviceVersionName">
		<th>###COMMON_VERSION_NAME###</th>
		<td>###SERVICE_VERSION_NAME###</td>
	</tr>
	<tr class="tx_egovapi_serviceLastModificationDate">
		<th>###COMMON_LAST_MODIFICATION_DATE###</th>
		<td>###SERVICE_LAST_MODIFICATION_DATE###</td>
	</tr>
	<tr class="tx_egovapi_serviceProvider">
		<th>###COMMON_PROVIDER###</th>
		<td>###SERVICE_PROVIDER###</td>
	</tr>
	<tr class="tx_egovapi_serviceCustomer">
		<th>###COMMON_CUSTOMER###</th>
		<td>###SERVICE_CUSTOMER###</td>
	</tr>
</table>
<!-- ###SHOW_LEVEL_INFORMATION### [end] -->

<!-- ###SHOW_GENERAL_INFORMATION### [begin] -->
<h2 class="tx_egovapi_block_generalInformation"><span class="block_number">2.</span> ###BLOCK_GENERAL_INFORMATION###</h2>
<div class="tx_egovapi_block_generalInformation">
	###SERVICE_GENERAL_INFORMATION###
</div>
<!-- ###SHOW_GENERAL_INFORMATION### [end] -->

<!-- ###SHOW_PREREQUISITES### [begin] -->
<h2 class="tx_egovapi_block_prerequisites"><span class="block_number">3.</span> ###BLOCK_PREREQUISITES###</h2>
<div class="tx_egovapi_block_prerequisites">
	###SERVICE_PREREQUISITES###
</div>
<!-- ###SHOW_PREREQUISITES### [end] -->

<!-- ###SHOW_PROCEDURE### [begin] -->
<h2 class="tx_egovapi_block_procedure"><span class="block_number">4.</span> ###BLOCK_PROCEDURE###</h2>
<div class="tx_egovapi_block_procedure">
	###SERVICE_PROCEDURE###
</div>
<!-- ###SHOW_PROCEDURE### [end] -->

<!-- ###SHOW_FORMS### [begin] -->
<h2 class="tx_egovapi_block_forms"><span class="block_number">5.</span> ###BLOCK_FORMS###</h2>
<div class="tx_egovapi_block_forms">
	###SERVICE_FORMS###
</div>
<!-- ###SHOW_FORMS### [end] -->

<!-- ###SHOW_DOCUMENTS_REQUIRED### [begin] -->
<h2 class="tx_egovapi_block_documentsRequired"><span class="block_number">6.</span> ###BLOCK_DOCUMENTS_REQUIRED###</h2>
<div class="tx_egovapi_block_documentsRequired">
	###SERVICE_DOCUMENTS_REQUIRED###
</div>
<!-- ###SHOW_DOCUMENTS_REQUIRED### [end] -->

<!-- ###SHOW_SERVICE_PROVIDED### [begin] -->
<h2 class="tx_egovapi_block_serviceProvided"><span class="block_number">7.</span> ###BLOCK_SERVICE_PROVIDED###</h2>
<div class="tx_egovapi_block_serviceProvided">
	###SERVICE_SERVICE_PROVIDED###
</div>
<!-- ###SHOW_SERVICE_PROVIDED### [end] -->

<!-- ###SHOW_FEE### [begin] -->
<h2 class="tx_egovapi_block_fee"><span class="block_number">8.</span> ###BLOCK_FEE###</h2>
<div class="tx_egovapi_block_fee">
	###SERVICE_FEE###
</div>
<!-- ###SHOW_FEE### [end] -->

<!-- ###SHOW_LEGAL_REGULATION### [begin] -->
<h2 class="tx_egovapi_block_legalRegulation"><span class="block_number">9.</span> ###BLOCK_LEGAL_REGULATION###</h2>
<div class="tx_egovapi_block_legalRegulation">
	###SERVICE_LEGAL_REGULATION###
</div>
<!-- ###SHOW_LEGAL_REGULATION### [end] -->

<!-- ###SHOW_DOCUMENTS_OTHER### [begin] -->
<h2 class="tx_egovapi_block_documentsOther"><span class="block_number">10.</span> ###BLOCK_DOCUMENTS_OTHER###</h2>
<div class="tx_egovapi_block_documentsOther">
	###SERVICE_DOCUMENTS_OTHER###
</div>
<!-- ###SHOW_DOCUMENTS_OTHER### [end] -->

<!-- ###SHOW_REMARKS### [begin] -->
<h2 class="tx_egovapi_block_remarks"><span class="block_number">11.</span> ###BLOCK_REMARKS###</h2>
<div class="tx_egovapi_block_remarks">
	###SERVICE_REMARKS###
</div>
<!-- ###SHOW_REMARKS### [end] -->

<!-- ###SHOW_APPROVAL### [begin] -->
<h2 class="tx_egovapi_block_approval"><span class="block_number">12.</span> ###BLOCK_APPROVAL###</h2>
<div class="tx_egovapi_block_approval">
	###SERVICE_APPROVAL###
</div>
<!-- ###SHOW_APPROVAL### [end] -->

<!-- ###SHOW_CONTACT### [begin] -->
<h2 class="tx_egovapi_block_contact"><span class="block_number">13.</span> ###BLOCK_CONTACT###</h2>
<div class="tx_egovapi_block_contact">
	<div class="half left">
		<div class="tx_egovapi_block_contact_logo"><img src="###SERVICE_CONTACT_LOGO###" alt="###SERVICE_CONTACT_OFFICE###" /></div>
		<div class="vcard"><!-- hCard-enabled: http://microformats.org/ -->
			<div class="org fn">
				<div class="tx_egovapi_block_contact_office organization-name">###SERVICE_CONTACT_DEPARTMENT###</div>
				<div class="tx_egovapi_block_contact_department organization-unit">###SERVICE_CONTACT_OFFICE###</div>
			</div>
			<div class="adr">
				<span class="type" style="display:none">Work</span>
				<div class="tx_egovapi_block_contact_address street-address">###SERVICE_CONTACT_ADDRESS###</div>
				<span style="display:none">
					<abbr title="Switzerland" class="country-name">CH</abbr> -
				</span>
				<span class="tx_egovapi_block_contact_postalCode postal-code">###SERVICE_CONTACT_POSTAL_CODE###</span>
				<span class="tx_egovapi_block_contact_municipality locality">###SERVICE_CONTACT_MUNICIPALITY###</span>
			</div>
			<div class="tx_egovapi_block_contact_phone1">
				<span class="label">###COMMON_PHONE###</span>
				<span class="tel">
					<span class="type" style="display:none">Work</span> ###SERVICE_CONTACT_PHONE1###
				</span>
			</div>
			<div class="tx_egovapi_block_contact_fax">
				<span class="label">###COMMON_FAX###</span>
				<span class="tel">
					<span class="type" style="display:none">Fax</span> ###SERVICE_CONTACT_FAX###
				</span>
			</div>
			<div class="tx_egovapi_block_contact_email">
				<span class="email" style="display:none">###SERVICE_CONTACT_EMAIL###</span>
				###SERVICE_CONTACT_EMAIL_LINK###
			</div>
		</div>
	</div>
	<div class="half left">
		<div class="tx_egovapi_block_contact_openingHours">###SERVICE_CONTACT_OPENING_HOURS###</div>
	</div>
	<div class="clear"></div>
</div>
<!-- ###SHOW_CONTACT### [end] -->

<!-- ###SHOW_BACK_TO_LIST### [begin] -->
<p class="tx_egovapi_backToList">
	<!-- ###SERVICE_LINK_SERVICES### -->###ACTION_BACK_TO_LIST###<!-- ###SERVICE_LINK_SERVICES### -->
</p>
<!-- ###SHOW_BACK_TO_LIST### [end] -->

<!-- ###SERVICE_SINGLE### [end] -->

</body>
</html>