<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Standard eGov API Template</title>
</head>
<body>

<!-- ###TOPIC_LIST### [begin] -->

<h1 class="tx_egovapi_header">###HEADER_TOPICS###</h1>

<!-- ###TOPICS### [begin] -->

<ul class="tx_egovapi_topics">
	<!-- ###TOPIC### [begin] -->
	<li>
		<!-- ###TOPIC_LINK_SERVICES### -->###TOPIC_NAME###<!-- ###TOPIC_LINK_SERVICES### -->
		(<!-- ###TOPIC_LINK_DETAIL### -->details<!-- ###TOPIC_LINK_DETAIL### -->)
	</li>
	<!-- ###TOPIC### [end] -->
</ul>

<!-- ###TOPICS### [end] -->

<!-- ###HAS_PARENT### [begin] -->
<p>
	<!-- ###TOPIC_LINK_DOMAINS### -->###ACTION_BACK_TO_LIST###<!-- ###TOPIC_LINK_DOMAINS### -->
</p>
<!-- ###HAS_PARENT### [end] -->

<!-- ###TOPIC_LIST### [end] -->










<!-- ###TOPIC_SINGLE### [begin] -->

<h1 class="tx_egovapi_topic">###TOPIC_NAME###</h1>

<!-- ###SHOW_GENERAL_INFORMATION### [begin] -->
<h2 class="tx_egovapi_block_generalInformation">###BLOCK_GENERAL_INFORMATION###</h2>
###TOPIC_GENERAL_INFORMATION###
<!-- ###SHOW_GENERAL_INFORMATION### [end] -->

<!-- ###SHOW_GENERAL_NEWS### [begin] -->
<h2 class="tx_egovapi_block_news">###BLOCK_NEWS###</h2>
###TOPIC_NEWS###
<!-- ###SHOW_GENERAL_NEWS### [end] -->

<!-- ###SHOW_GENERAL_SUBTOPICS### [begin] -->
<h2 class="tx_egovapi_block_subtopics">###BLOCK_SUBTOPICS###</h2>
###TOPIC_SUBTOPICS###
<!-- ###SHOW_GENERAL_SUBTOPICS### [end] -->

<!-- ###SHOW_GENERAL_DESCRIPTOR### [begin] -->
<h2 class="tx_egovapi_block_descriptors">###BLOCK_DESCRIPTORS###</h2>
###TOPIC_DESCRIPTOR###
<!-- ###SHOW_GENERAL_DESCRIPTOR### [end] -->

<!-- ###SHOW_GENERAL_SYNONYM### [begin] -->
<h2 class="tx_egovapi_block_synonyms">###BLOCK_SYNONYMS###</h2>
###TOPIC_SYNONYM###
<!-- ###SHOW_GENERAL_SYNONYM### [end] -->

<!-- ###TOPIC_SINGLE### [end] -->

</body>
</html>