<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Standard eGov API Template</title>
</head>
<body>

<!-- ###VIEW_LIST### [begin] -->

<h1>###HEADER_VIEWS###</h1>

<!-- ###VIEWS### [begin] -->

<ul class="tx_egovapi_views">
	<!-- ###VIEW### [begin] -->
	<li>
		###VIEW_ID###:
		<!-- ###VIEW_LINK_DOMAINS### -->###VIEW_NAME###<!-- ###VIEW_LINK_DOMAINS### -->
	</li>
	<!-- ###VIEW### [end] -->
</ul>

<!-- ###VIEWS### [end] -->

<!-- ###HAS_PARENT### [begin] -->
<p>
	<!-- ###VIEW_LINK_AUDIENCES### -->###ACTION_BACK_TO_LIST###<!-- ###VIEW_LINK_AUDIENCES### -->
</p>
<!-- ###HAS_PARENT### [end] -->

<!-- ###VIEW_LIST### [end] -->










<!-- ###VIEW_SINGLE### [begin] -->

<h1 class="tx_egovapi_view">###VIEW_NAME###</h1>

<!-- ###VIEW_SINGLE### [end] -->

</body>
</html>